
<div class="container">
    <form (ngSubmit)="create()" class="col-md-6">
        <div class="form-group">
            <h2>New Employee</h2>
        </div>
        <div class="form-group">
            <h6>Enter Personal Details</h6>
            <label for="my-input">Name</label>
            <input placeholder="Name" class="form-control" type="text" name="name" [(ngModel)]="name">
        </div>
        <div class="form-group">
            <label for="my-input">DOB</label>
            <input placeholder="DOB" class="form-control" type="text" name="dob" [(ngModel)]="dob">
        </div>
        <div class="form-group">
            <label for="my-input">Address</label>
            <input placeholder="Address" class="form-control" type="text" name="addr" [(ngModel)]="addr">
        </div>
        <div class="form-group">
                <label for="my-input">Phone Number</label>
                <input placeholder="Phone#" class="form-control" type="number" name="phone" [(ngModel)]="phone">
            </div>

        <div class="form-group">
            <h6>Enter Educational Details</h6>
            <label for="my-input">Degree</label>
            <input placeholder="Degree" class="form-control" type="text" name="degree" [(ngModel)]="degree">
        </div>
        <div class="form-group">
            <label for="my-input">Marks</label>
            <input placeholder="Marks" class="form-control" type="number" name="marks" [(ngModel)]="marks">
        </div>
        <div class="form-group">
            <label for="my-input">Stream</label>
            <input placeholder="Stream" class="form-control" type="text" name="stream" [(ngModel)]="stream">
        </div>
        <div class="form-group">
                <label for="my-input">College</label>
                <input placeholder="College" class="form-control" type="text" name="college" [(ngModel)]="college">
            </div>
        <button class="btn btn-primary" type="submit">Add Employee Details</button>
    </form>
</div>
